.ModalSlide {
  height: 100vh;
  width: 100%;
  background-color: #a5a5a58c;
  position: fixed;
  left: 100%;
  display: flex;
  transition: all 300ms linear;

  &__hover-show {
    left: 90% !important;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);
  }

  &__close {
    animation: slide-rigth 1s both;
    > .reverse-r {
      background-color: #ffffff00;
      animation: slide-rigth-reverse 1s both;
    }
  }

  &__open {
    animation: slide-left 1.4s both;
    > .reverse-l {
      animation: slide-left-reverse 1.4s both;
    }
    > .reverse-r {
      background-color: #ffffff00;
    }
  }

  &__container {
    height: 100%;
    width: 50%;
    background-color: #1f1f1f;
  }
}

@keyframes slide-left {
  0% {
    left: 90%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);
  }
  100% {
    left: 0%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@keyframes slide-left-reverse {
  0% {
    clip-path: polygon(0% 0%, 70% 0%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@keyframes slide-rigth {
  0% {
    left: 0%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  30% {
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  100% {
    left: 100%;
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 10% 100%);
  }
}

@keyframes slide-rigth-reverse {
  0% {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    background-color: #1f1f1f;
  }
  20% {
    clip-path: polygon(0% 0%, 30% 0%, 0% 100%, 0% 100%);
    background-color: #1f1f1f;
  }
}
