.MuiContainer-root {
  padding: 0 !important;
}

.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("../../assets/images/waves_black.jpg");
  background-size: cover;
  flex-direction: column;
}
